body {
      background-color:#74bbe4;}
h1{
    
        color:#74bbe4 ;
        text-align: center;
        background-position: center;
        background-color: white;
        padding: 80px;
        font-size: 40px;
}
header {
	text-align:center;
}
form{
        background-color: white;
        width: 25%;
        margin: 120px auto;
        padding: 50px;
        box-shadow: 10px 5px rgb(82,11,77)
        border-radius:6px;
    }
   