body{
	background-color:#74bbe4;
}
header {
	text-align:center;
}

h1 {
	color:#74bbe4 ;
	text-align: center;
	background-position: center;
	background-color: white;
	padding: 80px;
	font-size: 50px;
}

div#sm div {
	display:inline-block ;
	width: 10%;
}

nav.menu2nav ul li.btn {
   list-style-type: none;

}
h4 {
	background-color: white;
	padding: 5px;
	font-size: 20px;
}